body{
	background-image: url(../images/background.jpg);
}

h1{
	font-size: 5em;
}

h3{

}

#endgame{
	font-family: 'Russo One', sans-serif;
	text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
	color: black;
	text-align: center;
}

#endgame h1 {
	font-size: 7em;
	font-weight: bold;
}

#theme{
		font-family: 'Russo One', sans-serif;
		text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;

		border: 5px solid yellow;
		border-radius: 25px;

		color: black;
		text-align: center;
		/*margin: auto;*/
}

.btn-default{
	background-color: transparent;
	/*border-color: yellow;*/
	border:none;
	font-weight: bold;
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*.btn-default:focus,
.btn-default:active,
.btn-default.active
{
  background-color: #ffffff;
}*/

/*#timer{
	float:top;
}*/

.btn-default:hover
{
  background-color: yellow;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	text-shadow: none;
	color:black;
}

/*.btn:focus {
  background-color: red;
}*/

button:hover {
	background-color: yellow;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-default:blur {
	background-color: transparent;;
}

#themerow{
/*	position: relative;
	top: 50px;*/
	overflow: auto;
	margin-top: 50px;
}

#filler1{
	/*height: 200px;*/
	height: 7em;
}

#filler2{
	height: 7em;
}

.question{
	text-align: center;
	/*margin: auto;*/
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: relative;
	/*bottom: -50%;*/
}

#startcontainer{
	position: relative;
	top:10em;
}

#startbutton{
	background-color: yellow;
	border: 2px solid black;
	height: 3em;
	font-family: 'Russo One', sans-serif;
	text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
	font-size: 3em;
	color: black;
}

#startbutton:hover {
	background-color: yellow;
	border: 5px solid black;

}
#startbutton:active {
  background-color: #e6e600;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}